.page-header {
	font-family: 'Rubik Mono One', sans-serif;
}

.panel-default>.player-1 {
	background-color: #00c3e3;
}

.panel-default>.player-2 {
	background-color: #ff4554;
}

img {
	max-width: 200px;
	margin-bottom: 15px;
}

/*.panel:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 255, 0.3);
}*/

.panel {
	background-color: white;
}

.panel img:hover {
	cursor: pointer;
	opacity: .5;
}

.panel-heading {
	font-weight: bold;
}